/* *{ */
/*  */
/* } */

.mr-5{
    border: 20px;
    /* border: 20px; */
    /* height: fit-content; */
    padding: 6px;
    
}


.mr-5:hover{
    background-color: aliceblue;
    color: orangered;
    border-radius: 19px;
    width: fit-content;
    
}
html{
    scroll-behavior: smooth;
}

#searchInput{
    background-color: rgb(48, 48, 48);
    color: white;
    border-width: 3px;
    border-color: black;
    border-radius: 20px;
}
#searchInput:hover{
    background-color: rgb(79, 79, 78);
    /* text-transform: capitalize; */
}
